<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/global.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler-flags.min.css">
    <title>Schoodule | Manage your daily tasks and teams at the peak of efficiency!</title>
</head>

<body>
    <header>
        <nav>
            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24"
                    height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none"
                    stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <path d="M4 6l16 0" />
                    <path d="M4 12l16 0" />
                    <path d="M4 18l16 0" />
                </svg></a>
        </nav>
    </header>

    <main>
        <div id="container">
            <aside class="navbar navbar-vertical navbar-expand-sm navbar-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav pt-lg-3">
                        <li class="nav-item">
                            <a class="nav-link" href="./">
                                <span class="nav-link-title">
                                    Alex
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./">
                                <span class="nav-link-title">
                                    Steve
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </aside>
            <div id="content_main">
                <div class="page">
                    <div class="page-body">
                        <h1>Schoodule</h1>
                        <h2>Managing has never been so fun!</h2>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <script src="../watcher.js" type="module"></script>
    <script src="./js/index.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/js/tabler.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/core@1.0.0-beta17/dist/css/tabler.min.css">

</body>

</html>